{% extends "base.twig" %}
{% block title %} Passwords {% endblock %}
{% block instore %}{% endblock %}
{% block content %}
    {% block loginForm %} 
    <body style = "min-height: 100vh; display: flex; flex-direction:column;">
        <div class="signup-form"> 
            <form id="login-form" method="POST">
                <h2>Manage</h2>
                <p align="center">Change your password</p>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Old password" name="oldPassword" required="required">
                    {% if formErrors.oldPassword %}
                        <p style="color: #ff6347;">{{ formErrors.oldPassword }}</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New password" name="newPassword" required="required">
                    {% if formErrors.newPassword %}
                        <p style="color: #ff6347;">{{ formErrors.newPassword }}</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm password" name="confirmPassword" required="required">
                    {% if formErrors.confirmPassword %}
                        <p style="color: #ff6347;">{{ formErrors.confirmPassword }}</p>
                    {% endif %}
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block" value="Change">Update</button>
                {% if formErrors.updated %}
                        <p style="color: #ff6347;">{{ formErrors.updated}}</p>
                {% endif %}
            </div>
            </form>
        </div>
    </body>
    {% endblock %}
{% endblock %}